<%= form_tag carts_path do %>
<center><h2 style="color: black"><%= @header %></h2></center>
<div class="pad_col">
  <div class="row">
    <div class="col-md-12">
      <table> 
        <th>
          <a class="a:hover" href='/images/<%= @product.image %>.jpg/'>
            <img src="/images/<%= @product.image %>.jpg/" width="350" height="350"></img>
          </a>
        </th>
          <td><b><h3 class="pad" style="color: rgb(129, 16, 1)"><%= @product.name.upcase %></h3></b>
            <p class="pad" style="color: rgb(9, 9, 145)"><%= @product.more_info %></p>
              <h4 class="pad" style="color=black"><i>price  </i>$<%= "%.2f" % @product.price %></h4>
                <% CategorySale.where(category_id: @product.category_id).each do |s| %>
                  <% if s.percent_off > 1 %>
                    <% price = (@product.price) * ((100-s.percent_off)/100) %>
                      <h4 class="pad" style="color: red"><%= "Sales Price! $ #{"%.2f" % price}" %></h4>
                  <% else %>
                    <% if @product.percent_off > 1 %>
                      <% price = (@product.price) * ((100-@product.percent_off)/100) %>
                      <h4 class="pad" style="color: red"><%= "Sales Price! $ #{"%.2f" % price}" %></h4>
                    <% end %>
                  <% end %>
                <% end %>
                      <h4 class="pad"><%= @product.description %></h4>
                      <%= out_of_stock(@product.quantity, @product.id) %>
          </td>
      </table>             
    </div>         
  </div>
</div>
<% end %>