<%= render "layouts/admin" %>
<div class="row">
<div class="col-md-12">
  <table class="table" style="background: white">
  <% old_value = 0 %>
  <% Order.order(:created_at).reverse.each do |get_number| %>
    <% if get_number.order_number != old_value && old_value != nil %>
      <% new_order_number = get_number.order_number %>
      <% old_value = get_number.order_number %>
    <% else %>
      <% new_order_number = nil %>
      <% old_value = get_number.order_number %>
    <% end %>
    <% if new_order_number != nil %>
      <% orders = Order.where(order_number: new_order_number) %>
      <% customer = User.find(orders.last.user_id) %>
      <td><hr style="background-color:black;height:3px;border:none;" />
         <b>Customer:</b><br>
         <%= customer.shipping_first_name %>
         <%= customer.shipping_last_name %><br>
         <%= customer.shipping_address1 %>
         <%= customer.shipping_address2 %></br>
         <%= customer.shipping_city %>
         <%= customer.shipping_state %>
         <%= customer.shipping_zip %></br>
         <%= customer.shipping_phone_number %></td>
      <td><hr style="background-color:black;height:3px;border:none;" />
        <b>order number:</b><br></br> 
        <%= orders.last.order_number%><br></br>
        <b>date:</b> <%= orders.last.created_at.getlocal.strftime("%A - %B %d, %Y -- %I:%M %p %Z") %></td>
      <tr><th>Products</th></tr>
        <% orders.order(:id).each do |o| %>
          <% if o.product_id != nil %>
            <tr>
              <td><%= Product.find(o.product_id).name %></td>
              <td><%= o.quantity %> <i>qty</i><br></br>
                  $<%= "%.2f" % o.price_paid_for_product %> price of each</td>
            <tr> 
          <% end %>
        <% end %> 
          <tr><td><%= "<b>tax</b>: $#{"%.2f" % orders.last.tax} <b>ship_cost</b>: $#{"%.2f" % orders.last.ship_cost} 
          <b>total</b>: $#{"%.2f" % orders.last.order_total}".html_safe %></td></tr>
    <% end %>
  <% end %>
  </table>
</div>
</div>
 
  
      
       
      
      
      
      
      
      
