<%= form_tag place_order_path, method: "PUT" do %>
<h1>Order</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
    <% p = Product.find(cart.product_id) %>
      <tr>
        <td><%= p.name %></td>
        <td><%= cart.quantity %></td>
        <td>$<%= "%.2f" % cart.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
****TODO: Select payment method  ******
<%= submit_tag 'Place Order' %><br><br>
<% end %>
<!--<%= link_to 'New Cart', new_cart_path %>--!>
