<%= @test %>
<%= form_tag "/carts/1", method: "PATCH" do %>
<h2 style="color: rgba(3, 3, 100, 0.8)">Product List</h2>
<div class="row pad">
<div class="col-md-6 pull-left">
  <table class="table-condensed table-striped table-border">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th style="text-align: right">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% session[:total] = 0 %>
      <% @carts.each do |cart| %>
      <% p = Product.find(cart.product_id) %>
        <tr>
          <% if cart.quantity != 0 %>
            <td><%= p.name.titleize %></td>
            <td style="text-align: right">$<%= "%.2f" % cart.price %></td>
            <td style="text-align: right"><h4><%= text_field_tag "quantity_#{p.id}", cart.quantity, size: 1 %></h4></td>
            <td><h5><%= button_tag "update", name: "product_id", value: p.id %></h5></td>
            <%= hidden_field_tag "button", "update" %>
          <% end %>
            <% if @carts != false %>
            <% session[:total] += cart.price * cart.quantity %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-4">
  <table class="table-condensed">
    <% products_total = session[:total] %>
      <tr><td><h4 style="color: rgba(6, 72, 133, 0.85); text-align: right;">
        <%= "Products total:    $#{"%.2f" % products_total}" %>
      </h4></td></tr>
    <% if @empty == "yes" %>  
      <% ship_cost = 0 %>
    <% else %>
      <% ship_cost = 7 %>
    <% end %>
      <tr><td><h4 style="color: rgba(6, 72, 133, 0.85); text-align: right;">
        <%= "Shipping cost:    $#{"%.2f" % ship_cost}" %>
      </h4></td></tr>
    <% tax = products_total * 0.029 %>
      <tr><td><h4 style="color: rgba(6, 72, 133, 0.85); text-align: right;">
        <%= "Taxes:    $#{"%.2f" %  tax}" %></td></tr>
      <tr><td><h4 style="color: rgba(3, 3, 100, 0.8); text-align: right;"><b>
        <%= "Order total:    $#{"%.2f" % (ship_cost + tax + products_total)}" %>
      </b></h4></td></tr></h4>
  </table><br>
        <%= link_to 'Continue Shopping', home_page_path %><br><br>
        <%= link_to 'Checkout', ship_info_path %><br><br>
</div>
  <div class="col-md-2 pull-right">  
  </div>
</div>
<% end %>