<% Product.order(:id).each do |p| %>
  <% CategorySale.where(category_id: p.category_id).each do |s| %>
    <% if s.percent_off > 1 %>
      <% price = (p.price.to_f) * ((100-s.percent_off)/100) %>
        <div class="col-md-4">
          <table class="table">
           <td> <center><h3 style="color: #550808"><%= p.name %></h3>
              <%= image_display (p) %><br></br>
              <p class="sale_price"><%= "Sale Price! $ #{"%.2f" % price}" %></p>
              <p style="color: gray; font-size: 8pt;"><i>regular price $
                <%= "%.2f" % p.price %></i></p>
              <h4><a href="/main/more_info/<%= p.id %>">More details...</a></h4>
              <%= add_to_cart (p) %></h4></center></td>
          </table>
        </div> 
      <% else %>
        <% if p.percent_off > 1 %>
          <% price = (p.price.to_f) * ((100-p.percent_off)/100) %>
              <div class="col-md-4">
                <table class="table">
                  <td> <center><h3 style="color: #550808"><%= p.name %></h3>
                    <%= image_display (p) %><br></br>
                    <p class="sale_price"><%= "Sale Price! $ #{"%.2f" % price}" %></p>
                    <p style="color: gray; font-size: 8pt;"><i>regular price $
                      <%= "%.2f" % p.price %></i></p>
                    <h4><a href="/main/more_info/<%= p.id %>">More details...</a></h4>
                    <%= add_to_cart (p) %></h4></center></td>
                </table>
              </div> 
          <% else %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
